[tool.poetry]
name = "nornir_napalm"
version = "0.1.2"
description = "NAPALM's plugins for nornir"
authors = ["David Barroso <dbarrosop@dravetech.com>"]
license = "Apache-2.0"

[tool.poetry.plugins."nornir.plugins.connections"]
"napalm" = "nornir_napalm.plugins.connections:Napalm"

[tool.poetry.dependencies]
python = "^3.6"
napalm = "^3"
nornir = { version = "~3", allow-prereleases = true }

[tool.poetry.dev-dependencies]
black = { version = "19.10b0", allow-prereleases = true }
mypy = "*"
pylama = "^7.7.1"
pytest = "*"
nbval = "*"
jupyter = "^1"
sphinx = "^3.0.3"
sphinxcontrib-napoleon = "^0.7"
nbsphinx = "^0.6.1"
sphinx-issues = "^1.2.0"
sphinx_rtd_theme = "^0.4.3"
nornir_utils = { version = "*", allow-prereleases = true }
pytest-cov = "^2.10.1"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
