[tool.poetry]
name = "nornir_napalm"
version = "0.1.2"
description = "NAPALM's plugins for nornir"
authors = ["David Barroso <dbarrosop@dravetech.com>"]
license = "Apache-2.0"

[tool.poetry.plugins."nornir.plugins.connections"]
"napalm" = "nornir_napalm.plugins.connections:Napalm"

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
napalm = "^3"
nornir = { version = "~3", allow-prereleases = true }

[tool.poetry.dev-dependencies]
black = "^22.1.0"
mypy = "*"
pylama = "*"
pytest = "*"
nbval = "*"
jupyter = "^1"
sphinx = "^4"
sphinxcontrib-napoleon = "^0.7"
nbsphinx = "^0.8"
sphinx-issues = "^3.0"
sphinx_rtd_theme = "^1.0"
nornir_utils = { version = "*", allow-prereleases = true }
pytest-cov = "*"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
